<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col -lg-7 parte1">
            <h1>Web peluqueria</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci quibusdam, quaerat, eveniet accusamus nihil fugit, sapiente perferendis voluptatibus facere fuga dolores soluta quia voluptate inventore cupiditate totam est assumenda voluptates?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci quibusdam, quaerat, eveniet accusamus nihil fugit, sapiente perferendis voluptatibus facere fuga dolores soluta quia voluptate inventore cupiditate totam est assumenda voluptates?
            </p>

        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 parte2">
            <img src="../../../assets/pro1.jpg" class="img-fluid img-proyecto">


        </div>
</div>


</div>
