<div class="row">
    <h1>Experiencia laboral</h1>
   <div class="col-lg-1"></div>
   <div class="col-lg-11">
    <ul>
        <li>
            <h1>Trabajo 1</h1> - <h3>(years)</h3>
        </li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est architecto neque quas magnam maxime, ipsum aliquid vero reiciendis ducimus tenetur, vitae quidem deleniti! Reiciendis optio laudantium, iste consequuntur recusandae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Est architecto neque quas magnam maxime, ipsum aliquid vero reiciendis ducimus tenetur, vitae quidem deleniti! Reiciendis optio laudantium, iste consequuntur recusandae</p>
    </ul>
    <ul>
        <li>
            <h1>Trabajo 2</h1> - <h3>(years)</h3>
        </li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est architecto neque quas magnam maxime, ipsum aliquid vero reiciendis ducimus tenetur, vitae quidem deleniti! Reiciendis optio laudantium, iste consequuntur recusandae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Est architecto neque quas magnam maxime, ipsum aliquid vero reiciendis ducimus tenetur, vitae quidem deleniti! Reiciendis optio laudantium, iste consequuntur recusandae</p>
    </ul>
    <ul>
        <li>
            <h1>Trabajo 3</h1> - <h3>(years)</h3>
        </li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est architecto neque quas magnam maxime, ipsum aliquid vero reiciendis ducimus tenetur, vitae quidem deleniti! Reiciendis optio laudantium, iste consequuntur recusandae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Est architecto neque quas magnam maxime, ipsum aliquid vero reiciendis ducimus tenetur, vitae quidem deleniti! Reiciendis optio laudantium, iste consequuntur recusandae</p>
    </ul>


   </div>


</div>
